*   {
    box-sizing: border-box;
}



body {
    font-family: 'Poppins', sans-serif;
}

/****** HEADER ******/
header {
    background-color: #212F3D ;
    padding: 10px;
    max-width: 100%;
}

header .row {
    color: aliceblue;
    display: flex;
}

#logo {
    padding: 0px 10px 0px 20px;
    flex-grow: 0;
}

#image-logo {
    width: 60px;
}

#nav {
    flex-grow: 8;
}

#nav ul {
    display: flex;
    flex-direction: row;
}

#nav li {
    padding: 30px 10px 20px 30px;
}

#nav a {
    text-decoration: none;
    color: aliceblue;
}

#nav a:hover {
    color: gold;
}

#login {
    flex-grow: 0;
    padding: 30px 10px 20px 30px;
}

#login a {
    text-decoration: none;
    color: aliceblue;
}

#login a:hover {
    color: gold;
}


/* FORMULARIO */

.row {
    display: flex;
}

.row-c {
    display: flex;
    flex-direction: column;
}

.container {
    margin: 10px;
    border-radius: 6px;
    height: 78vh;
    background-color: #212F3D;
    padding: 10px;
}

.container .col-100 {
    flex: 100%;
    border-radius: 6px;
    background-color: aliceblue;
}

.container h1 {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin: 10px;
    padding: 5px;
}

.container .col-20 {
    flex: 20%;
    height: 65vh;
    margin: 10px 2px 20px 2px;
    padding: 10px;
    border-radius: 6px;
    background-color: aliceblue;
}

.container .col-80 {
    flex: 80%;
    overflow: auto;
    height: 65vh;
    margin: 10px 1px 20px 5px;
    padding: 10px;
    border-radius: 6px;
    background-color: aliceblue;
}

.row-c .col {
    font-size: 0.9rem;
    padding: 5px;
    margin: 2px;
}

.row-c .col input {
    width: 100%; 
	height: 30px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #ab4493; 
	margin-top: 2px;  
	padding-left: 5px;
    margin-bottom: 5px; 
}

::-webkit-input-placeholder {
    color: #a8a8a8;
   }
   
.row-c input:focus{
    outline:0;
    border: 1px solid #97d848;
}

#inputTaskIsComplete {
   margin-top: 1px;
   margin-left: 30px;
   width: 15px;
   height: 15px;
}

button {
    height: 40px; 
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	text-transform: uppercase;
	background-color: #ab4493; 
	border-color: #ab4493; 
	border-style: solid; 
	border-radius: 10px;	
	width: 100%;   
    cursor: pointer;
}

button p{
	color: #fff; 
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    font-size: 0.9rem;
    text-align: center;
    padding: 8px;
}  

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.col-80 h2 {
    margin-top: 2px;
    margin-bottom: 10px;
}


.btn-table {
    height: 30px; 
	padding-left: 5px;
	padding-right: 5px; 	
	text-transform: uppercase;
	border-style: solid; 
	border-radius: 10px;	
	width: 50px;   
    cursor: pointer;
}

.btn-table.btn-complete {
    background-color: green; 
	border-color: green; 
}

.btn-table.btn-edit {
    background-color: orange; 
	border-color: orange; 
}

.btn-table.btn-delete {
    background-color: red; 
	border-color: red; 
}

.btn-table .fa {
    color: #f2f2f2;
}


/* FOOTER */

footer {
    text-align: center;
}




@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    
    /****** HEADER ******/
    header {
        min-width: 50%;
    }

    #image-logo {
        width: 30px;
    }
    
    #nav li {
        padding: 8px 6px;
    }

    #nav a {
        text-decoration: none;
        color: aliceblue;
    }

    #login {
        display: none;
    }

    .container {
        overflow: auto;
    }

    .container .col-20 {
        flex: 100%;
    }
    
    .row-responsive {
        display: flex;
        flex-direction: column;
    }

    .container .col-80 {
        flex: 100%
    }

    footer {
        font-size: 0.8rem;
        text-align: center;
        color: grey;
    }
}
  



